<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Signature Collection</title>
    <link href="https://cdn.jsdelivr.net/semantic-ui/2.2.6/semantic.min.css" rel="stylesheet"/>
    <link href="/css/main.css" rel="stylesheet"/>
</head>
<body>
<div class="pusher">
    <div class="ui fixed menu">
        <div class="ui container">
            <a href="#" class="header item">Saving Engineers</a>
        </div>
    </div>

    <div class="full height image">
        <div class="ui main container">
            <div class="menu bar">
            </div>
            <div class="ui information container">
                <div class="ui three column grid">
                    <div class="column"></div>
                    <div class="column">
                        <h1 class="ui center aligned header">ログイン</h1>
                        <form class="ui form" method="post" action="/login"
                              th:action="@{~/login}">
                            <div class="field">
                                <input required type="email" maxlength='50' name="email" placeholder="メールアドレス"/>
                            </div>
                            <div class="field">
                                <input required type="password" minlength='4' maxlength='20' name="pass" placeholder="パスワード"/>
                            </div>
                            <button class="ui fluid red button">ログイン</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
